.aboutus {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: 13px;
    }

    &__collapse {
        width: 75%;
        margin: auto;
    
        @media (max-width: 768px) {
            width: 85%;
            margin-top: 80px;
        }
    }
}