header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 68px;
    margin: 40px 0 0 120px;
    font-size: 24px;

    @media (max-width: 768px) {
        margin: 0 0 0 5%;
        width: 90%;
    }
 }