header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
    width: 90%;
    height: 68px;
    margin-top: 40px;
    margin-left: 5%;
    font-size: 24px;

    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.header__logo {
    width: 210.32px;
    height: 68px;

    @media (max-width: 768px) {
        width: 105px;
        height: 34px;
    }
}

.header__link {
    padding-right: 20px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    color: #FF6060;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        font-size: 18px;
        padding: 0;
    }

    @media (max-width: 425px) {
        font-size: 12px;
        margin-left: 15px;
    }

}

.linkActive {
    text-decoration: none;
 }